<!--
============================================
; Title: Loan_App
; File Name: about.component.html
; Author: Professor Krasso
; Date: 20 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->


<div fxLayout="row wrap" class="about-container">

  <div fxFlex class="about-txt-container">

    <mat-card-title class="text-center title gold">About Us</mat-card-title>

    <div class="about-img-container text-center">
      <img src="./assets/loan_calc_logo.png" class="about-img" />
    </div>

    <mat-card-title class="text-center title gold">Our Magical Origins</mat-card-title>

    <p>In 2012, before Loan_App was founded, co-founder Ephior Candlewick was ready to begin her first year at Hogwarts School of Witchcraft and Wizardry. With great excitement, Candlewick entered the famous wand shop, Ollivanders, to receive her first wand. After her perfect wand had chosen her, she realized with great dismay that her wand was crafted from an expensive wood that would cost her more than she anticipated. Knowing that she could not finance such a superb wand, she needed to find out if she could afford a loan.
    </p>

    <div class="text-center">
      <strong>
        Ollivanders, Diagon Alley
      </strong>
    </div>
    <div class="about-img-container text-center">
      <img src="./assets/ollivanders.png" class="bio-img" />
    </div>
    <div class="text-center">
      <em>
        (Photo by harrypotter.fandom.com, n.d.)
      </em>
    </div>

    <br />

    <p>Unfortunately, Candlewick did not have a loan calculator on hand, and Ollivanders would close before she could make it to Gringotts Wizarding Bank to calculate a loan. Sadly, she did not get her wand that day. Candlewick eventually got her wand after a painfully long process of securing her loan with Gringotts. Had she had a loan calculator, the entire loan process would have been reduced to same-day service.
    </p>

    <div class="text-center">
      <strong>
        Candlewick at Hogwarts (2019)
      </strong>
    </div>
    <div class="about-img-container text-center">
      <img src="./assets/spell.jpg" class="bio-img" />
    </div>
    <div class="text-center">
      <em>
        (Photo by Artem Maltsev, 2019)
      </em>
    </div>

    <br />
    <p>Once Candlewick arrived at Hogwarts, she was placed in House Ravenclaw. Students of House Ravenclaw are known for their learning, wit, and wisdom, and Candlewick was no exception. She enjoyed her classes during her seven years and made many friends. But while she put on a happy outward appearance, a battle waged inside her. She couldn't stop thinking about all the excited first-year students getting their first wands. <i>How many students would be turned away because they couldn't afford them? How many could have been saved from the painfully long loan process if they only had a loan calculator?</i> She knew at that moment that she needed to come up with a solution for these (literally and figuratively) poor souls.
  </p>

    <div class="text-center">
      <strong>
        The Crew's Fuel of Choice: Butterbeer
      </strong>
    </div>
    <div class="about-img-container text-center">
      <img src="./assets/butterbeer.png" class="bio-img" />
    </div>
    <div class="text-center">
      <em>
        (Photo by topsecretrecipes.com, 2018)
      </em>
    </div>

    <br />
    <p>Candlewick and several of her Ravenclaw peers, set out to create the loan calculator. After three arduous days of coding, a never-ending supply of Butterbeer, and lots of concentration spells, the loan calculator was born. Candlewick founded the company Loan_App in 2022. Since the development of the loan calculator, thousands of students have used the tool to finance and receive their wands on the same day.
    </p>
    <p>Loan_App has expanded its services from a simple loan calculator application to premiere financial wizards and powerful magic technology. Loan_App is Diagon Alley's number one financial advisement institution. Our commitment is to provide excellent customer service and will continue to do so indefinitely.
    </p>
    <br />
    <div class="text-center">
    Questions or comments? Please send us an owl post today! Visit our Contact Us page for our information.
    </div>
    <br />
    <div class="text-center">
      <strong>
        Thank you for visiting Loan_App!
      </strong>
    </div>

    <br /><br />
  </div>
</div>
