<!--
============================================
; Title: Loan_App
; File Name: about.component.html
; Author: Professor Krasso
; Date: 16 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div class="about-img-container">
        Img
      </div>
      <div class="caption">
        <em>
          (Photo by XX)
        </em>
      </div>
    </div>
  </div>

  <div fxFlex class="about-txt-container">
    <h1 class="blue">About</h1>
    <br />

    About here.

  </div>
</div>
