/**
============================================
; Title: Loan_App
; File Name: base-layout.component.css
; Author: Professor Krasso
; Date: 20 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
===========================================
*/

.logo {
  margin-top: 25px;
  margin-left: -10px;
  text-align: center;
  z-index: 999;
  background-color: #FFF;
  padding-top: 8px;
  width: 70px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 3px 3px 5px #0E1A40;
}

.links {
  margin: 25px 15px 0px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.mat-card-title {
  padding-top: 20px;
  text-align: center;
}

.content-container {
  margin-bottom: 50px;
}
