/* For use in src/lib/core/theming/_palette.scss */
$md-ravenclaw-dark-blue: (
    50 : #e2e4e8,
    100 : #b7bac5,
    200 : #878d9f,
    300 : #565f79,
    400 : #323c5c,
    500 : #0e1a3f,
    600 : #0c1739,
    700 : #0a1331,
    800 : #080f29,
    900 : #04081b,
    A100 : #596fff,
    A200 : #2643ff,
    A400 : #0020f2,
    A700 : #001dd9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-ravenclaw-blue: (
    50 : #e4e6eb,
    100 : #bdc1ce,
    200 : #9197ad,
    300 : #646d8c,
    400 : #434e74,
    500 : #222f5b,
    600 : #1e2a53,
    700 : #192349,
    800 : #141d40,
    900 : #0c122f,
    A100 : #6b80ff,
    A200 : #3855ff,
    A400 : #0529ff,
    A700 : #0022eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-ravenclaw-gold: (
    50 : #f2ede6,
    100 : #dfd3c0,
    200 : #cab596,
    300 : #b4976c,
    400 : #a4814d,
    500 : #946b2d,
    600 : #8c6328,
    700 : #815822,
    800 : #774e1c,
    900 : #653c11,
    A100 : #ffca9b,
    A200 : #ffaf68,
    A400 : #ff9535,
    A700 : #ff871b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-ravenclaw-gray: (
    50 : #ececec,
    100 : #cecece,
    200 : #aeaeae,
    300 : #8e8e8e,
    400 : #757575,
    500 : #5d5d5d,
    600 : #555555,
    700 : #4b4b4b,
    800 : #414141,
    900 : #303030,
    A100 : #f39191,
    A200 : #ee6363,
    A400 : #ff1f1f,
    A700 : #ff0505,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-ravenclaw-gray: (
    50 : #ececec,
    100 : #cecece,
    200 : #aeaeae,
    300 : #8e8e8e,
    400 : #757575,
    500 : #5d5d5d,
    600 : #555555,
    700 : #4b4b4b,
    800 : #414141,
    900 : #303030,
    A100 : #f39191,
    A200 : #ee6363,
    A400 : #ff1f1f,
    A700 : #ff0505,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

