<!--
============================================
; Title: Loan_App
; File Name: home.component.html
; Author: Professor Krasso
; Date: 20 July 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build an Angular application.
; Resources:
; Stackblitz: https://stackblitz.com/edit/simple-interest-calculator?file=src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.ts (Simple Interest Calculator)
===========================================
-->

<div style="width: 100%">

  <mat-card-title class="title text-center gold">Welcome to the Loan Application!</mat-card-title>

  <div fxLayout="row wrap"  fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="32px 12px grid">

    <div fxFlex class="calculator-form">

      <mat-card class="mat-elevation-z8">

        <mat-card-content>

          <mat-label>Loan Amount:</mat-label>

          <form fxLayout="column" fxLayoutGap="16px" [formGroup]="calculatorForm">

            <mat-form-field fxFlex appearance="fill">
              <mat-label>Loan Amount</mat-label>
              <input type="number" name="txtLoanAmount" required id="txtLoanAmount" matInput formControlName="loanAmount" />
            </mat-form-field>

            <mat-label>Interest Rate (ex: 4.5):</mat-label>
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Interest Rate</mat-label>
              <input type="number" name="txtInterestRate" required id="txtInterestRate" matInput formControlName="interestRate" />
            </mat-form-field>

            <mat-label>Number of years:</mat-label>
            <mat-form-field fxFlex appearance="fill">
              <mat-label>Number of years</mat-label>
              <input type="number" name="txtNumberOfYears" required id="txtNumberOfYears" matInput formControlName="numberOfYears" />
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="calculatePayment()">Calculate</button>

          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex class="monthly-payment">

      <mat-card class="mat-elevation-z0 text-center">
        <mat-card-title>Your monthly payment:</mat-card-title>
        <mat-card-content class="resultsContainer">
          <app-monthly-payment [monthlyPaymentTotal]="monthlyPaymentTotal" class="gold" id="monthlyPaymentTotal"></app-monthly-payment>
        </mat-card-content>

        <mat-card-title>Interest paid:</mat-card-title>
        <mat-card-content class="resultsContainer">
          <app-interest-paid [interestPaidTotal]="interestPaidTotal" class="gold" id="interestPaid"></app-interest-paid>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
